<!DOCTYPE html>
<html>
<head>
<title>
Monster List
</title>
</head>
<body>
<h1>Monster List </h1>
<h2> amount of monster:{{monsters|length}} </h2>
<!-- show system messages:-->
{% if messages%} 
<ul class="messages">
{% for message in messages%}
<li>{{message}}</li>
</ul>
{% endfor %}
{% endif %}
<!--create a searchbar to import monsters from the API:-->
<form method="post" action="{% url 'import'%}">  {% csrf_token %}
<!--stores the value the user input from the view-->
<input type="text" name="query_name" placeholder="monster name" required>
<button type="submit">import monster </button>
</form>
<!--create a link to summon monsters using the create-monster url:-->
<a href="{% url 'create-monster'%}"> create a new monster </a>
<!--check if the monsters dict is true:-->
{% if monsters %}
<ul>
<!--loop over the monster model and display each monster as a list:-->
{% for monster in monsters%}
<!--grab the name field of the monsters and make it a list: check if monster.name is showing update-->
<li> {{monster.name}} - {{monster.type}}
<a href="{% url 'update-monster' pk=monster.pk %}"> edit 
</a>
<!--put the delete button here:-->
<a href="{% url 'delete-monster' pk=monster.pk %}"> delete</a>
</li>
{% endfor %}
</ul>
{% else %}
<p> no monster found create one above! </p>
{% endif %}
</body>
</html>