<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Confirm deletion of a monster entry.">
<meta name="keywords" content="Monster Hunter, monsters, delete, confirmation">
<title>
delete confirmation  for {{monster.name}}
</title>
</head>
<body>
<h1> confirm deleteion</h1>
<p>are you sure you want to delete:<strong>{{monster.name}}</strong></p>
<!--make a confirm button for deletion:-->
<form method="post">
{% csrf_token%}
<button type="submit">YES,unsummon </button>
</form>
<p><a href="{% url 'monster-list' %}">cancel </a> </p>
</body>
</html>