<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Create or edit a Monster Hunter monster.">
<meta name="keywords" content="Monster Hunter, monsters, create, edit">
<!--make the title dynamicaly update what it display depending on which function im using:-->
<title>
{% if is_edit %}Edit monster {% else %}Create Monster {% endif %}
</title>
</head>
<!--display the search bar and submit bar-->
<body>
<h1>
<!--display the edit page if the user is editing else display the create page:-->
{% if is_edit %} Edit monster {% else %} create a new monster {% endif %}
</h1>
<!--tell django to only display posted data:-->
<form method="post">
<!--use the token to protect from maliciouse attacks-->
{% csrf_token %}
<!--render the form fields that shows our model:-->
{{ form.as_p }}
<!--make a button for creating monster and the text changes depending if user is creating or updating:-->
<button type=submit>
{% if is_edit%} update {% else %} create {% endif %}
</button>
<!--Todo: make a button for updating  monster items-->
<button type="submit">{% if is_edit%} update-item {% else %} create-item {% endif%}</button>
</form>
<!--link back to the list of monsters:-->
<a href="{% url 'monster-list' %}">Back to monster list
</a>
</body>
</html>